.container__back {
  margin-top: 5px;
}

.header {
  border: 2px solid blueviolet;
  border-radius: 15px;
  background-color: rgb(193, 138, 245);
  margin-left: 2%;
  margin-right: 2%;
  max-width: 96%;
  text-align: center;
  padding: 5px;
}

.titulo {
  font-size: 25px;
  font-weight: bold;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contenedor {
  border: 2px solid blueviolet;
  border-radius: 15px;
  background-color: rgb(193, 138, 245);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
  max-width: 96%;
  padding: 10px;
}

.producto {
  height: 200px;
  background-color: aquamarine;
  margin: 5px;
}
