.ModelForm__container {
  margin-top: 5px;
}

.ModelForm__contenedor__nuevo {
  border: 2px solid blueviolet;
  border-radius: 15px;
  background-color: rgb(193, 138, 245);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
  max-width: 96%;
  padding: 5px;
  font-style: italic;
  color: whitesmoke;
}

.ModelForm__input {
  border-radius: 8px;
}

.ModelForm__row {
  position: relative;
  margin: 5px;
}
