.titulo {
  border: 2px solid blueviolet;
  border-radius: 15px;
  background-color: rgb(193, 138, 245);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2px;
  max-width: 96%;
  text-align: center;
  padding: 5px;
}

.contenedor__nuevo {
  border: 2px solid blueviolet;
  border-radius: 15px;
  background-color: rgb(193, 138, 245);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2px;
  max-width: 96%;
  padding: 5px;
  font-style: italic;
  color: whitesmoke;
}

.input {
  border-radius: 8px;
}

.row {
  position: relative;
  margin: 5px;
}
