.container__home {
  text-align: center;
  width: 100%;
}

.boton {
  margin-top: 2%;
  margin-bottom: 2%;
}

.contenedor__img {
  height: 100vh;
  margin: 0px auto;
}

.imgYo {
  position: relative;
  width: 40%;
}

.imgCuervo {
  position: relative;
  width: 10%;
  margin-top: -2%;
  margin-left: -2%;
}

.imgCuervo:hover {
  transform: perspective(600px) rotateX(-180deg) translateY(-160%);
}
