.impresiones__container {
  width: 100%;
}

.impresiones__titulo {
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  position: relative;
}

.impresiones__row {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.impresiones__col {
  border: 5px solid rgb(90, 31, 167);
  border-radius: 20px;
  background-color: rgba(110, 125, 167, 0.8);
  width: 70%;
  height: auto;
  margin-top: 1%;
  text-align: center;
}

.impresiones__img {
  width: 50%;
  height: 70%;
  min-width: 100px;
  max-width: 300px;
  max-height: 250px;
  margin: 2%;
  object-fit: cover;
  object-position: center center;
}
