.modelsDetail__row {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.modelsDetail__col {
  border: 5px solid rgb(90, 31, 167);
  border-radius: 20px;
  background-color: rgba(110, 125, 167, 0.8);
  width: 70%;
  height: 100%;
  margin-top: 1%;
  text-align: center;
}

.modelsDetail__img {
  width: 25vh;
  height: 50vh;
  margin: 2%;
  object-fit: cover;
  object-position: center center;
}
